<!DOCTYPE html>
<html>
<head>
<<<<<<< HEAD
  <title>DemoApp</title>
=======
  <title>SampleApp</title>
>>>>>>> 914007550aadd5c34670a47664b5132e567f743c
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
